body {
  text-align: center;
  background-color: #011f3f;
}

#level-title {
  font-family: "Bebas Neue", cursive;
  font-size: 4.5rem;
  letter-spacing: 0.5rem;
  margin: 5%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;

  transition: 0.1s;
}

.btn:hover {
  cursor: pointer;
  scale: 1.02;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.text-animation {
  animation: text-animation 0.5s infinite alternate both;
}

@keyframes text-animation {
  from {
    transform: scale(1.01);
  }
}

@media (prefers-reduced-motion) {
  .text-animation {
    animation: none;
  }
}
